<div ng-controller="placesCtrl">
  <div class="well">
    <form ng-submit="add(newPlace); newPlace = null;">
      <formset>
      <div class="form-group">
        <input class="form-control" ng-model="newPlace.name" placeholder="Name"></input>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-large btn-primary"></button>
      </div>

      </formset>
    </form>
  </div>

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="place in places | orderBy:'lastVisited':true">
      <a ui-sref="visits({placeId: place.$id})">
        {{place.name}}
        <span class="pull-right">
          {{place.lastVisited | date:'fullDate'}}
        </span>
      </a>
    </li>
  </ul>
</div>

